<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Termine · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="flex justify-between bg-stone-500 py-3 px-2">
      <div class="flex items-center">
        <h3 class="text-2xl text-white"> Termine </h3>
      </div>
      <div class="flex items-center space-x-5">
        <%= render "_user_menu.html", assigns %>
      </div>
    </header>
    <main role="main">
      <%= @inner_content %>
    </main>
  </body>
</html>
